.preview-container {
  margin-top: 2rem;
}

input {
  border: none !important;
  border-bottom: 3px solid black !important;
  padding: 1rem 0 !important;
  width: 100% !important;
  border-radius: 0 !important;
  outline: none !important;
  transition: all 0.3s ease;
}
input:focus {
  border-color: dodgerblue !important;
}
