.preview-container {
  margin-top: 2rem;
}
.th-container {
  background: rgb(116, 0, 120);
}
.th-container button {
  font-size: 1.25rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

input {
  border: none !important;
  border-bottom: 3px solid black !important;
  padding: 1rem 0 !important;
  width: 100% !important;
  border-radius: 0 !important;
  outline: none !important;
  transition: all 0.3s ease;
}
input:focus {
  border-color: dodgerblue !important;
}
