Options -Indexes -MultiViews +FollowSymlinks
DirectoryIndex index.html
### Redirect all requests to document root (public folder)
RewriteEngine On

RewriteBase /straight-no-chaser/
# avoid infinite loop
RewriteCond %{REQUEST_URI} !dist
# all requests to straight-no-chaser get redirected to dist folder
RewriteRule ^(.*)$ dist/$1 [NC]

#RewriteCond %{REQUEST_URI} admin
#RewriteRule ^.*admin$ admin/ [R=301]