#sidebar-wrapper {
  margin-left: -22rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .list-group {
  width: 21rem;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -22rem;
  }
}
