#htaccess for public/dist folder

Options -Indexes -MultiViews +FollowSymlinks

DirectoryIndex index.html

# Redirect all api requests to backend/api/...

RewriteEngine On
#RewriteBase /straight-no-chaser/
# avoid infinite loop
RewriteCond %{REQUEST_URI} !backend
# all requests to straight-no-chaser get redirected to dist folder
RewriteRule api/(.*) backend/api/$1 [NC,L]

# Redirect all non api requests to react renderSubComponent
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !api
RewriteCond %{REQUEST_URI} !index.html
RewriteRule (.*)$ index.html

